* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#gameHeading {
  width: 100%;
  height: 60px;
  background-color: #1d3557;
  color: whitesmoke;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
.choices {
  /* width: 100px; */
  height: 250px;
}
.images {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 5px 5px 16px rgba(128, 128, 128, 0.762);
}
.images:hover {
  border: 8px solid black;
  cursor: pointer;
  transform: scale(1);
}

.msgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
#msg {
  background-color: rgba(0, 0, 0, 0.872);
  text-align: center;
  font-size: 24px;
  padding: 10px;
  color: whitesmoke;
  border-radius: 12px;
  box-shadow: 5px 5px 16px rgba(128, 128, 128, 0.762);
}
